<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>LENA</display-name>
    <description>
			RDF data browser using the fresnel vocabulary.	
    </description>
    
    <servlet>
        <servlet-name>LenaServlet</servlet-name>
        <servlet-class>de.unikoblenz.isweb.lena.core.LenaServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	Returns classes for LENA Classes widget</description>
    	<display-name>ClassesServlet</display-name>
    	<servlet-name>ClassesServlet</servlet-name>
    	<servlet-class>
    	de.unikoblenz.isweb.lena.core.ClassesServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>FacetsServlet</display-name>
    	<servlet-name>FacetsServlet</servlet-name>
    	<servlet-class>
    	de.unikoblenz.isweb.lena.core.FacetsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LenaServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ClassesServlet</servlet-name>
    	<url-pattern>/ClassesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FacetsServlet</servlet-name>
    	<url-pattern>/FacetsServlet</url-pattern>
    </servlet-mapping>
    
    <session-config>
      <session-timeout>30</session-timeout>
    </session-config>
</web-app>